---
import { Icon } from "astro-icon/components";

interface Props {
  resourceUrl: string;
}

const { resourceUrl } = Astro.props;
---

<like-button data-resourceUrl={resourceUrl}>
  <button class="p-4 bg-neutral-800 rounded-full duration-300">
    <Icon name="mingcute:heart-line" class="size-5" id="like-heart" />
  </button>
</like-button>

<script>
  class LikeButton extends HTMLElement {
    connectedCallback() {
      const url = this.dataset.resourceUrl;
      const button = this.querySelector("button");

      button?.addEventListener("click", () => {
        const heart = this.querySelector("#like-heart");
        heart?.classList.toggle("text-red-500");
        // Update the like in the database
      });
    }
  }

  customElements.define("like-button", LikeButton);
</script>
