<nav class="flex items-center justify-between">
  <a href="/" class="text-2xl font-semibold">sparkmc</a>
  <ul class="flex items-center gap-5">
    <li>
      <a href="/mods">Mods</a>
    </li>
    <li>
      <a href="/plugins">Plugins</a>
    </li>
    <li>
      <a href="/shaders">Shaders</a>
    </li>
    <li>
      <a href="/resource-packs">Resource Packs</a>
    </li>
    <li>
      <a href="/data-packs">Data Packs</a>
    </li>
    <li>
      <a href="/mod-packs">Mod Packs</a>
    </li>
  </ul>
  <button>Login</button>
</nav>
