---
import { Icon } from "astro-icon/components";
---

<div
  class="flex flex-col justify-between h-60 w-full bg-neutral-100 rounded-lg p-4"
>
  <p class="text-2xl font-semibold">80% of the pool go for creators!</p>
  <a href="/plus" class="text-purple-500">
    Support creators and Spark with <strong>spark+</strong>
    <Icon name="mingcute:right-line" class="inline-block" />
  </a>
</div>
