---
interface Props {
  title: string;
  image?: string;
}

const { title, image = "/images/default-icon.png" } = Astro.props;
---

<div class="flex items-center justify-between py-8 border-b border-neutral-700">
  <div class="flex gap-6">
    <img src={image} alt={title} class="w-24 h-24 object-cover rounded-lg" />
    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
        <h1 class="text-4xl font-bold">{title}</h1>
        <slot name="description" />
      </div>
      <div class="flex items-center gap-4">
        <slot name="info" />
      </div>
    </div>
  </div>
  <div class="flex items-center gap-4">
    <slot name="buttons" />
  </div>
</div>
